@import "./flex-box";
@import "./spacing";
@import "./reused";

form {
  // overflow: auto;
}
button:disabled {
  background-color: #ededed !important;
  cursor: not-allowed;
  // color: -internal-light-dark(rgba(16, 16, 16, 0.3), rgba(255, 255, 255, 0.3));
  // border-color: -internal-light-dark(rgba(118, 118, 118, 0.3), rgba(195, 195, 195, 0.3));
}
