@import "../../../styles/index.scss";

.project {
  position: relative;
  margin-top: 1.5rem;
  &-btns {
    position: absolute;
    top: -1rem;
    right: 0;
    display: flex;
    border-radius: 4px;
    border: 1px solid #dedede;
    &-add,
    &-delete {
      width: 24px;
      height: 24px;
    }
  }
  &-dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
