<div class="login">
  <div class="login-header">
    <div class="login-header-title">Digital CV Login</div>
  </div>
  <div class="login-body">
    <div class="login-body-m">
      <button type="button" routerLink="/home">Go to home</button>
      <!-- <input type="color" />
      <mat-form-field appearance="fill">
        <mat-select [formControl]="testSelect">
          <div *ngFor="let item of selectList">
            <mat-option value="item">{{ item }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field> -->

      <!-- (change)="onFileChanged($event)" -->

      <!--  <button (click)="onUpload()"></button> -->

      <!-- <div>{{ masterData }}</div> -->
    </div>
  </div>
</div>
