<div class="login">
  <div class="login-header">
    <div class="login-header-title">Digital CV Login</div>
  </div>
  <div class="login-body">
    <div class="login-body-m"></div>
  </div>

  <div class="login-footer">
    <div class="login-footer-email">Email: tttriet1997@gmail.com</div>
    <!-- <div class="divider-v "></div> -->
    <div class="login-footer-divider"></div>
    <a
      class="login-footer-email"
      target="_blank"
      href="https://www.facebook.com/profile.php?id=100015087697713"
      >Facebook</a
    >
    <div class="login-footer-divider"></div>
    <div class="login-footer-email">(+84) 819 541 897</div>
    <div class="login-footer-divider"></div>
    <div class="login-footer-address">
      329 Le Van Luong, W. Tan Quy, D.7, HCM city
    </div>
  </div>
</div>
