#name,
#jobTitle {
  height: 40px;
  width: 100%;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.create-cv-form {
  &__avatar {
    height: 200px;
    cursor: pointer;
  }

  .info-icon {
    margin-right: 1rem;
    & i {
      font-size: 40px;
    }
  }

  .info-text-field input {
    height: 2.5rem;
    width: 100%;
  }

  .a-dropdown {
    &::after {
      content: "";
    }
  }

  &__change-temlate {
    &__board {
      height: 300px;
    }

    &__option {
      height: 150px;
      width: 30%;
      margin-right: 12px;
      margin-top: 12px;
      cursor: pointer;
    }
  }

  
}

// Personal info input

.info-radio-btn {
  display: flex;
  .a-radio-button label {
    margin-right: 3rem;
  }
}

// Function button group
.func-btn-group {
  height: 1rem;
  margin-bottom: 2.5rem;
  & i {
    font-size: 1rem;
    font-weight: bold;
  }
}

// Header
header {
  position: relative;
  clear: both;
}

.o-minimal-header__title.header-logo {
  margin-left: 1rem !important;
}

// Footer
footer .o-footer .-minimal {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.loading {
  &-wrapper {
    width: 100%;
    height: 100%;
    background-color: #ffffff80;
    z-index: 1;
    position: absolute;
  }
  &-cv {
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
