<script></script>

<div class="home">
  <div class="home-header">
    <div class="home-header-title">Welcome to Digital CV Home!</div>
  </div>
  <div class="home-body">
    <div class="home-body-m">
      <button type="button" routerLink="/createcv">Go to Create CV</button>
      <button (click)="onLogout()">Log out</button>
    </div>
  </div>

  <div class="home-footer">
    <div class="home-footer-email">tttriet1997@gmail.com</div>
    <!-- <div class="divider-v "></div> -->
    <div class="home-footer-divider"></div>
    <a
      class="home-footer-email"
      target="_blank"
      href="https://www.facebook.com/profile.php?id=100015087697713"
      >Facebook</a
    >
    <div class="home-footer-divider"></div>
    <div class="home-footer-email">(+84) 819 541 897</div>
    <div class="home-footer-divider"></div>
    <div class="home-footer-address">
      329 Le Van Luong, W. Tan Quy, D.7, HCM city
    </div>
  </div>
</div>
<!-- <div class="home-body" *ngFor="let i of list">Test {{ i }}</div> -->
<!-- <app-pages-learning></app-pages-learning> -->
<!-- <app-food-table></app-food-table> -->
<!-- <input
        #emailP
        type="text"
        [value]="email"
        (input)="onEmailChange(emailP.value)"
      /> -->
