<div class="home">
  <div class="home-header">
    <div class="home-header-title">Welcome to Digital CV!</div>
  </div>
  <div class="home-body">
    <div class="home-body-m">
      <form
        [formGroup]="angForm"
        (ngSubmit)="onFormSubmit()"
        class="home-body-form"
      >
        <div class="home-body-header">
          <div class="home-body-header-photo">
            <div class="form-group">
              <label>Upload photo</label>
              <input formControlName="photo" />
            </div>
          </div>
          <div class="home-body-header-right">
            <div class="form-group">
              <label>Username</label>
              <input formControlName="username" />
            </div>
            <div class="home-body-header-right-title-bg">
              <div class="form-group">
                <label>Job title</label>
                <input formControlName="jobTitle" />
              </div>

              <button
                mat-raised-button
                color="accent"
                class="home-body-header-right-title-bg-changebg-btn"
              >
                Change background
              </button>
            </div>
          </div>
        </div>
        <div class="fr-sb">
          <div class="home-body-left">
            <div class="home-body-pi">
              <label class="b">Personal Info</label>
              <div class="form-group">
                <label>Email</label>
                <input formControlName="email" />
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input formControlName="phone" />
              </div>
              <div class="form-group">
                <label>Gender</label>
                <input formControlName="gender" />
              </div>
              <div class="form-group">
                <label>Date of birth</label>
                <input formControlName="dob" />
              </div>
              <div class="form-group">
                <label>Address</label>
                <input formControlName="address" />
              </div>
              <div class="form-group">
                <label>Linkedin</label>
                <input formControlName="linkedin" />
              </div>
              <div class="form-group">
                <label>Career objective</label>
                <input formControlName="careerObjective" />
              </div>
            </div>
          </div>
          <div class="home-body-right">
            <div class="home-body-pl">
              <label class="b">Personal Info</label>
              <div formArrayName="programmingLanguages">
                <div
                  *ngFor="
                    let proLanguage of programmingLanguages.controls;
                    index as idx
                  "
                  class="form-group"
                >
                  <app-programming-language
                    [index]="idx"
                    [programingLanguage]="proLanguage"
                    [(onClickAddPL)]="onClickAddPL"
                  ></app-programming-language>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="home-body-btns">
          <button
            mat-raised-button
            color="accent"
            class="home-body-btns-save"
            type="submit"
          >
            Save
          </button>
          <button mat-raised-button color="accent" class="home-body-btns-back">
            Back
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="home-footer">
    <div class="home-footer-email">Email: tttriet1997@gmail.com</div>
    <!-- <div class="divider-v "></div> -->
    <div class="home-footer-divider"></div>
    <a
      class="home-footer-email"
      target="_blank"
      href="https://www.facebook.com/profile.php?id=100015087697713"
      >Facebook</a
    >
    <div class="home-footer-divider"></div>
    <div class="home-footer-email">(+84) 819 541 897</div>
    <div class="home-footer-divider"></div>
    <div class="home-footer-address">
      329 Le Van Luong, W. Tan Quy, D.7, HCM city
    </div>
  </div>
</div>
<!-- <div class="home-body" *ngFor="let i of list">Test {{ i }}</div> -->
<!-- <app-pages-learning></app-pages-learning> -->
<!-- <app-food-table></app-food-table> -->
<!-- <input
        #emailP
        type="text"
        [value]="email"
        (input)="onEmailChange(emailP.value)"
      /> -->
