<div class="home">
  <div class="home-header">
    <div class="home-header-title">Welcome to Angu Store!</div>
  </div>
  <!-- <div class="home-body" *ngFor="let i of list">Test {{ i }}</div> -->
  <div class="home-body">
    <!-- <button nz-button nzType="primary" (click)="onClickTest()">
      Test {{ testTitle }}
    </button>
    <input
      #number1
      type="number"
      [value]="number1"
      (input)="onChange('number1', number1.value)"
    />
    <button mat-raised-button color="accent">Accent</button> -->

    <div class="home-body-m"></div>
  </div>

  <div class="home-footer">
    <div class="home-footer-email">Email: tttriet1997@gmail.com</div>
    <a
      class="home-footer-email"
      target="_blank"
      href="https://www.facebook.com/profile.php?id=100015087697713"
      >Facebook</a
    >
    <div class="home-footer-email">(+84) 819 541 897</div>
    <div class="home-footer-address">
      329 Le Van Luong, W. Tan Quy, D.7, HCM city
    </div>
  </div>
</div>
