<style>
  .post {
    margin-top: 1rem;
  }
</style>
<div class="test">
  <div class="test-header">
    <div class="test-header-title">Triet Test</div>
  </div>
  <div class="test-body">
    <div class="test-body-m">
      <div class="row">
        <div>
          Digital CV
          <button type="button" routerLink="/home">Go to home</button>
        </div>
        <div>
          Redux text
          <div>{{ message$ | async }}</div>
          <button (click)="onChangeA()">ABC</button>
          <button (click)="onChange123()">123</button>
        </div>
      </div>
      <div class="row">
        <div *ngIf="post$ | async as p">
          Redux Object
          <div>{{ p.text }}</div>
          <div>Vote: {{ p.likes }}</div>
          <button (click)="upVote()">UP</button>
          <button (click)="downVote()">Down</button>
          <button (click)="resetVote()">Reset</button>

          <input [(ngModel)]="text" />
          <button (click)="editText()">Edit</button>
        </div>
        <div>
          <!-- //*ngIf="local | async" -->
          <div>Local storage</div>
          <div *ngIf="auth | async as l">
            <div>{{ l.username }}</div>
            <div>{{ l.email }}</div>
          </div>
          <button (click)="setLocal()">Set local</button>
        </div>
      </div>
    </div>
  </div>
</div>
