<form
  [formGroup]="workExp"
  (ngSubmit)="onFormSubmit()"
  class="working-experience"
>
  <div class="working-experience-left">
    <div class="form-group">
      <label>From date</label>
      <input formControlName="fromDate" type="date" />
    </div>
    <div class="form-group">
      <label>To date</label>
      <input formControlName="toDate" type="date" />
    </div>
  </div>
  <div class="working-experience-right">
    <div class="form-group">
      <label>Company name</label>
      <input formControlName="companyName" />
    </div>
    <div class="form-group">
      <label>Job title</label>
      <input formControlName="jobTitle" />
    </div>
    <div class="form-group">
      <label>Job description</label>
      <input formControlName="jobDescription" />
    </div>
  </div>

  <div class="working-experience-btns">
    <button
      class="nor-btn working-experience-btns-add"
      (click)="onClickAdd()"
      [disabled]="isDisabled"
    >
      +
    </button>
    <button
      class="nor-btn working-experience-btns-delete"
      (click)="onClickRemove()"
    >
      x
    </button>
  </div>
</form>
