<script></script>

<div class="createcv">
  <div class="createcv-header">
    <div class="createcv-header-title">Welcome to Digital CV!</div>
  </div>
  <div class="createcv-body">
    <div class="createcv-body-m">
      <form [formGroup]="angForm" class="createcv-body-form">
        <div class="createcv-body-header">
          <div class="createcv-body-header-photo">
            <button
              class="form-group nor-btn m-0"
              (click)="onClickChangePhoto()"
            >
              <img
                id="photo-id"
                [src]="angForm.controls['photo'].value"
                *ngIf="angForm.controls['photo'].value?.length !== 0"
              />
              <img
                src="../../../assets/user-default.jpg"
                *ngIf="angForm.controls['photo'].value?.length === 0"
                alt="Default image"
              />
              <input
                id="avatarInput"
                type="file"
                accept="image/*"
                (change)="onUploadFile($event)"
                class="dis-none"
              />
            </button>
          </div>
          <div class="createcv-body-header-right">
            <div class="form-group" formGroupName="personalInfo">
              <label>Username</label>
              <input formControlName="username" />
            </div>
            <div class="createcv-body-header-right-title-bg">
              <div class="form-group">
                <label>Job title</label>
                <input formControlName="jobTitle" />
              </div>

              <button
                mat-raised-button
                color="accent"
                class="createcv-body-header-right-title-bg-changebg-btn"
              >
                Change background
              </button>
            </div>
          </div>
        </div>
        <div class="fr-sb">
          <div class="createcv-body-left">
            <div class="createcv-body-pi" formGroupName="personalInfo">
              <label class="b">Personal Info</label>
              <div class="form-group">
                <label>Email</label>
                <input formControlName="email" />
              </div>
              <div class="form-group">
                <label>Phone</label>
                <input formControlName="phone" />
              </div>
              <div class="form-group">
                <label>Gender</label>
                <input formControlName="gender" />
              </div>
              <div class="form-group">
                <label>Date of birth</label>
                <input formControlName="dob" type="date" />
              </div>
              <div class="form-group">
                <label>Address</label>
                <input formControlName="address" />
              </div>
              <div class="form-group">
                <label>Linkedin</label>
                <input formControlName="linkedin" />
              </div>
              <div class="form-group">
                <label>Career objective</label>
                <input formControlName="careerObjective" />
              </div>
            </div>

            <div class="createcv-body-edu">
              <label class="b">Education</label>
              <div formArrayName="educations">
                <div
                  *ngFor="let edu of educations.controls; index as idx"
                  class="form-group"
                >
                  <app-education
                    [index]="idx"
                    [edu]="edu"
                    (onClickAddEdu)="onClickAddEdu($event)"
                    (onClickRemoveEdu)="onClickRemoveEdu($event)"
                  ></app-education>
                </div>
              </div>
            </div>
            <div class="createcv-body-certi">
              <label class="b">Certificate</label>
              <div formArrayName="certificates">
                <div
                  *ngFor="let certi of certificates.controls; index as idx"
                  class="form-group"
                >
                  <app-certificate
                    [index]="idx"
                    [certi]="certi"
                    (onClickAddCerti)="onClickAddCerti($event)"
                    (onClickRemoveCerti)="onClickRemoveCerti($event)"
                  ></app-certificate>
                </div>
              </div>
            </div>
            <div class="createcv-body-hobby">
              <label class="b">Hobby</label>
              <div class="form-group">
                <input formControlName="hobby" />
              </div>
            </div>
          </div>

          <div class="createcv-body-right">
            <div class="createcv-body-pl">
              <label class="b">Programming languages</label>
              <div formArrayName="programmingLanguages">
                <div
                  *ngFor="
                    let proLanguage of programmingLanguages.controls;
                    index as idx
                  "
                  class="form-group"
                >
                  <app-programming-language
                    [index]="idx"
                    [programingLanguage]="proLanguage"
                    (onClickAddPL)="onClickAddPL($event)"
                    (onClickRemovePL)="onClickRemovePL($event)"
                    [skillsets]="skillsets"
                    [languages]="languages"
                    [parentDisabled]="proLanguageCheck"
                  ></app-programming-language>
                </div>
              </div>
            </div>
            <div class="createcv-body-os">
              <label class="b">Other skill</label>
              <div formArrayName="otherSkills">
                <div
                  *ngFor="let otherSkill of otherSkills.controls; index as idx"
                  class="form-group"
                >
                  <app-other-skills
                    [index]="idx"
                    [otherSkill]="otherSkill"
                    (onClickAddOS)="onClickAddOS($event)"
                    (onClickRemoveOS)="onClickRemoveOS($event)"
                    [parentDisabled]="otherSkillsCheck"
                  ></app-other-skills>
                </div>
              </div>
            </div>
            <div class="createcv-body-w-exp">
              <label class="b">Working experience</label>
              <div formArrayName="workingExperiences">
                <div
                  *ngFor="
                    let workExp of workingExperiences.controls;
                    index as idx
                  "
                  class="form-group"
                >
                  <app-working-experience
                    [index]="idx"
                    [workExp]="workExp"
                    (onClickAddWE)="onClickAddWE($event)"
                    (onClickRemoveWE)="onClickRemoveWE($event)"
                    [parentDisabled]="workingExpCheck"
                  ></app-working-experience>
                </div>
              </div>
            </div>
            <div class="createcv-body-project">
              <label class="b">Project</label>
              <div formArrayName="projects">
                <div
                  *ngFor="let project of projects.controls; index as idx"
                  class="form-group"
                >
                  <app-project
                    [index]="idx"
                    [project]="project"
                    (onClickAddPro)="onClickAddPro($event)"
                    (onClickRemovePro)="onClickRemovePro($event)"
                  ></app-project>
                </div>
              </div>
            </div>
            <div class="createcv-body-refer">
              <label class="b">Reference</label>
              <div formArrayName="referencecvs">
                <div
                  *ngFor="let refer of referencecvs.controls; index as idx"
                  class="form-group"
                >
                  <app-reference
                    [index]="idx"
                    [refer]="refer"
                    (onClickAddRefer)="onClickAddRefer($event)"
                    (onClickRemoveRefer)="onClickRemoveRefer($event)"
                  ></app-reference>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="createcv-body-btns">
          <button
            mat-raised-button
            color="accent"
            class="createcv-body-btns-save"
            type="submit"
            (click)="onFormSubmit()"
          >
            Save
          </button>
          <button
            mat-raised-button
            color="accent"
            class="createcv-body-btns-back"
            (click)="onClickBack()"
          >
            Back
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="createcv-footer">
    <div class="createcv-footer-email">Email: tttriet1997@gmail.com</div>
    <!-- <div class="divider-v "></div> -->
    <div class="createcv-footer-divider"></div>
    <a
      class="createcv-footer-email"
      target="_blank"
      href="https://www.facebook.com/profile.php?id=100015087697713"
      >Facebook</a
    >
    <div class="createcv-footer-divider"></div>
    <div class="createcv-footer-email">(+84) 819 541 897</div>
    <div class="createcv-footer-divider"></div>
    <div class="createcv-footer-address">
      329 Le Van Luong, W. Tan Quy, D.7, HCM city
    </div>
  </div>
</div>
<!-- <div class="createcv-body" *ngFor="let i of list">Test {{ i }}</div> -->
<!-- <app-pages-learning></app-pages-learning> -->
<!-- <app-food-table></app-food-table> -->
<!-- <input
        #emailP
        type="text"
        [value]="email"
        (input)="onEmailChange(emailP.value)"
      /> -->
