<div class="home">
  <div class="home-title">Welcome to Ace Calculator!</div>
  <!-- <div class="home-body" *ngFor="let i of list">Test {{ i }}</div> -->

  <div class="home-body">
    <button nz-button nzType="primary" (click)="onClickTest()">
      Test {{ testTitle }}
    </button>
    <input
      #number1
      type="number"
      [value]="number1"
      (input)="onChange('number1', number1.value)"
    />
    <button mat-raised-button color="accent">Accent</button>
  </div>

  <div class="home-footer">
    <div class="home-footer-email">tttriet1997@gmail.com</div>
    <div class="home-footer-email">Facebook</div>
    <div class="home-footer-email">0819 541 897</div>
  </div>
</div>
